[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
keras = "*"
"autopep8" = "*"
requests = "*"
tqdm = "*"
matplotlib = "*"
sklearn = "*"
spacy = "*"
nltk = "*"
sentencepiece = "*"
gensim = "*"
jupyter = "*"
tables = "*"
tensorflow-gpu = "*"
jupyter-console = "*"

[dev-packages]
jupyterlab = "*"
jupyter = "*"
nbextensions = "*"
jupyter-contrib-nbextensions = "*"
jupyter-console = "*"
jupyter-client = "*"

[requires]
python_version = "3.6"
